html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.about,
.services,
.sales,
.sortiment,
.production,
.services2,
.contact,
.error-page,
.thank-you-page {
  padding: 30px;
}
@media screen and (min-width: 540px) {
  .about,
  .services,
  .sales,
  .sortiment,
  .production,
  .services2,
  .contact,
  .error-page,
  .thank-you-page {
    padding: 80px;
  }
}
@media screen and (min-width: 960px) {
  .about,
  .services,
  .sales,
  .sortiment,
  .production,
  .services2,
  .contact,
  .error-page,
  .thank-you-page {
    padding: 100px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.about__headline1,
.production__headline1,
.services2__headline1,
.error-page__headline {
  font-size: 40px;
  color: #8b6914;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 540px) {
  .about__headline1,
  .production__headline1,
  .services2__headline1,
  .error-page__headline {
    font-size: 50px;
  }
}
@media screen and (min-width: 960px) {
  .about__headline1,
  .production__headline1,
  .services2__headline1,
  .error-page__headline {
    font-size: 60px;
  }
}

.about__headline2,
.sortiment__headline2,
.contact__headline2 {
  color: #8b6914;
  text-align: center;
  font-size: 35px;
}
@media screen and (min-width: 540px) {
  .about__headline2,
  .sortiment__headline2,
  .contact__headline2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 960px) {
  .about__headline2,
  .sortiment__headline2,
  .contact__headline2 {
    font-size: 50px;
  }
}

.error-page p,
.thank-you-page p {
  text-align: center;
  font-size: 22px;
}

.header {
  background-color: #fff8dc;
  color: #080808;
}

.header__background {
  background-image: url("../images/wood.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
@media screen and (min-width: 540px) {
  .header__background {
    height: 400px;
  }
}
@media screen and (min-width: 960px) {
  .header__background {
    height: 500px;
  }
}

.header__headline {
  font-size: 60px;
  margin: 0;
  padding-top: 192px;
  text-align: right;
  line-height: 1;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .header__headline {
    font-size: 100px;
    padding-top: 221px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 960px) {
  .header__headline {
    font-size: 150px;
    padding-top: 232px;
  }
}

.header__contact {
  text-align: right;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: #8b6914;
}
@media screen and (min-width: 540px) {
  .header__contact {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 960px) {
  .header__contact {
    justify-content: flex-start;
  }
}

.header__contact--phone,
.header__contact--email {
  margin: 0;
  padding: 0;
  font-weight: bold;
  padding-right: 30px;
  font-size: 20px;
  color: #fff8dc;
}
@media screen and (min-width: 540px) {
  .header__contact--phone,
  .header__contact--email {
    font-size: 22px;
  }
}
@media screen and (min-width: 960px) {
  .header__contact--phone,
  .header__contact--email {
    font-size: 24px;
  }
}

.header__contact--email:active,
.header__contact--email:focus,
.header__contact--email:hover {
  text-decoration: underline;
}

.header__icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
@media screen and (min-width: 960px) {
  .header__icon {
    width: 30px;
    height: 30px;
    margin-left: 30px;
  }
}

.header__flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  background-color: #fff8dc;
  position: fixed;
  top: 72px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 540px) {
  .menu {
    top: 39.5px;
    flex-direction: row-reverse;
  }
}

.menu__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 540px) {
  .menu__list {
    display: flex;
    justify-content: flex-end;
  }
}

.menu__toggler {
  font-size: 30px;
  display: block;
  cursor: pointer;
  padding-left: 15px;
}
@media screen and (min-width: 540px) {
  .menu__toggler {
    display: none;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__link {
  display: block;
  padding: 15px;
  color: #080808;
  text-decoration: none;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .menu__link {
    padding: 5px 15px;
  }
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  color: #8b6914;
}

.menu__link--active {
  color: #8b6914;
}

.menu__dropdown {
  display: none;
}
@media screen and (min-width: 540px) {
  .menu__dropdown {
    list-style-type: none;
    position: fixed;
    top: 80px;
    right: 135px;
    padding: 0;
    margin: 0;
    background-color: #fff8dc;
    font-weight: bold;
  }
}

@media screen and (min-width: 540px) {
  .drop-menu-item {
    padding: 2px 15px;
    cursor: pointer;
  }
}

@media screen and (min-width: 540px) {
  .drop-menu-link:hover,
  .drop-menu-link:focus,
  .drop-menu-link:hover {
    color: #8b6914;
  }
}

.menu__logo {
  display: none;
  width: 60px;
  position: absolute;
  right: 0px;
}
@media screen and (min-width: 540px) {
  .menu__logo {
    left: 0px;
    width: 80px;
  }
}
@media screen and (min-width: 960px) {
  .menu__logo {
    width: 130px;
    filter: drop-shadow(0.5px 0.5px 0.5px white);
  }
}

.about {
  text-align: center;
}

.about__content {
  padding: 30px;
}
@media screen and (min-width: 1175px) {
  .about__content {
    padding: 0 30px;
  }
}

.about__icon {
  width: 40px;
}

.about__flexbox-icon,
.services__flexbox-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about__icon-text,
.services__icon-text {
  margin-left: 15px;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 540px) {
  .about__icon-text,
  .services__icon-text {
    margin-left: 0;
  }
}

@media screen and (min-width: 540px) {
  .about__grid-main-icon {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (min-width: 960px) {
  .about__grid-main-icon {
    gap: 75px;
  }
}

@media screen and (min-width: 540px) {
  .about__grid {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) {
  .about__grid {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
  }
}

.about__link {
  color: #8b6914;
  font-weight: bold;
}

.about__link:active,
.about__link:focus,
.about__link:hover {
  text-decoration: underline;
}

.about__christmas {
  width: 70%;
  margin-bottom: 50px;
}
@media screen and (min-width: 960px) {
  .about__christmas {
    width: 50%;
  }
}

.about__christmas--headline {
  color: red;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup__content {
  background-color: #fff8dc;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
}

.close__button {
  color: #8b6914;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.close__button:hover,
.close__button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup__headline2,
.popup__headline3 {
  color: #8b6914;
  text-transform: uppercase;
}

.popup__content p {
  font-weight: bold;
}

.hero {
  background-image: url("../images/wood2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
}
@media screen and (min-width: 540px) {
  .hero {
    height: 150px;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    height: 200px;
  }
}

.hero__headline {
  font-size: 40px;
  color: #080808;
  margin: 0;
  text-transform: lowercase;
  text-align: left;
  padding-top: 53px;
  padding-left: 30px;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .hero__headline {
    font-size: 60px;
    padding-top: 78px;
  }
}
@media screen and (min-width: 960px) {
  .hero__headline {
    font-size: 80px;
    padding-top: 104px;
  }
}

@media screen and (min-width: 540px) {
  .services__grid-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: start;
  }
}
@media screen and (min-width: 960px) {
  .services__grid-icon {
    gap: 75px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
}

.services__grid-icon {
  margin-top: 30px;
}
@media screen and (min-width: 540px) {
  .services__grid-icon {
    margin-top: 50px;
  }
}

.sales__grid,
.services__grid {
  display: grid;
  grid-template-rows: 3fr;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 850px) {
  .sales__grid,
  .services__grid {
    max-width: 80%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .sales__grid,
  .services__grid {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sales__div,
.services__div {
  border: 3px solid #8b6914;
  cursor: pointer;
}

.active,
.services__div:active,
.services__div:hover,
.services__div:focus {
  background-color: #8b6914;
  color: #fafafa;
}

.sales__text,
.services__text {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.services__more {
  display: none;
}

.services__icon {
  width: 50px;
}

.services2__headline1 {
  padding-top: 160px;
  background-image: url("/images/sortiment-background.jpg");
  font-size: 40px;
  color: #080808;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 540px) {
  .services2__headline1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 960px) {
  .services2__headline1 {
    font-size: 60px;
  }
}

.services__more-grid {
  margin-top: 100px;
}

.services__headline3 {
  color: #8b6914;
  margin-bottom: 0;
}

.sales__headline1,
.contact__headline1,
.error-page__headline1,
.thank-you-page__headline1 {
  padding-top: 160px;
  background-image: url("/images/sortiment-background.jpg");
  font-size: 40px;
  color: #080808;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 540px) {
  .sales__headline1,
  .contact__headline1,
  .error-page__headline1,
  .thank-you-page__headline1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 960px) {
  .sales__headline1,
  .contact__headline1,
  .error-page__headline1,
  .thank-you-page__headline1 {
    font-size: 60px;
  }
}

a {
  color: #080808;
}

@media screen and (min-width: 540px) {
  .production__grid,
  .sortiment__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 960px) {
  .production__grid,
  .sortiment__grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
  }
}

.production p {
  max-width: 500px;
  margin: 0 auto;
}

.sortiment__headline2 {
  text-align: left;
}

.sortiment__headline3 {
  color: #8b6914;
  margin-top: 50px;
  font-size: 30px;
}

.sortiment {
  padding: 150px 30px 100px 30px;
}
@media screen and (min-width: 960px) {
  .sortiment {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 960px) {
  .sortiment__contain-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}

.sortiment__img {
  align-self: center;
}

.sortiment__margin-top {
  margin-top: 60px;
}
@media screen and (min-width: 700px) {
  .sortiment__margin-top {
    margin-top: 134px;
  }
}

@media screen and (min-width: 800px) {
  .sortiment__products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}

.sortiment__link {
  color: #8b6914;
  font-weight: bold;
}

.sortiment__link:active,
.sortiment__link:focus,
.sortiment__link:hover {
  text-decoration: underline;
}

.sortiment__table td {
  width: 10%;
  text-align: center;
  font-weight: bold;
}

.sortiment__table,
.sortiment__table th,
.sortiment__table td {
  border: 2px solid white;
  border-collapse: collapse;
}

.sortiment__table th,
.sortiment__table td {
  background-color: #deb887;
}

.sortiment ul {
  padding: 0;
  max-width: 500px;
  margin: 0;
}
@media screen and (min-width: 960px) {
  .sortiment ul {
    margin: 0;
  }
}

.sortiment li {
  text-align: left;
}

.sortiment__doors--download {
  width: 100%;
  background-color: #8b6914;
  cursor: pointer;
  color: #fafafa;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
@media screen and (min-width: 640px) {
  .sortiment__doors--download {
    width: 70%;
    margin: 70px auto 0 auto;
  }
}

.sortiment__doors--download:hover,
.sortiment__doors--download:focus,
.sortiment__doors--download:active {
  filter: brightness(115%);
}

.sortiment__doors--icon-download {
  width: 40px;
}

.sortiment__doors--icon-link {
  width: 30px;
}

.sortiment__doors--download p {
  margin-bottom: 0;
}

.sales__div.kvh,
.sales__div.bsh,
.sales__div.preklizka,
.sales__div.palubka,
.sales__div.terasa,
.sales__div.osb,
.sales__div.stavebnir,
.sales__div.prkna,
.sales__div.rezivot,
.sales__div.lazury,
.sales__div.doors,
.sales__div.hranol,
.sales__div.durelis,
.sales__div.sololit {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s;
}
.sales__div.kvh:hover,
.sales__div.bsh:hover,
.sales__div.preklizka:hover,
.sales__div.palubka:hover,
.sales__div.terasa:hover,
.sales__div.osb:hover,
.sales__div.stavebnir:hover,
.sales__div.prkna:hover,
.sales__div.rezivot:hover,
.sales__div.lazury:hover,
.sales__div.doors:hover,
.sales__div.hranol:hover,
.sales__div.durelis:hover,
.sales__div.sololit:hover {
  transform: translateY(-100%);
  transform: scale(1.1);
}

.sales__link {
  overflow: hidden;
}

.sales__div.kvh {
  background-image: url("../images/sortiment/kvh.jpg");
}

.sales__div.bsh {
  background-image: url("../images/sortiment/bsh.jpg");
}

.sales__div.preklizka {
  background-image: url("../images/sortiment/preklizka.jpg");
}

.sales__div.palubka {
  background-image: url("../images/sortiment/palubka.jpg");
}

.sales__div.terasa {
  background-image: url("../images/sortiment/terasa.jpg");
}

.sales__div.osb {
  background-image: url("../images/sortiment/osb.jpg");
}

.sales__div.stavebnir {
  background-image: url("../images/sortiment/stavebni-rezivo.jpg");
}

.sales__div.prkna {
  background-image: url("../images/sortiment/prkna.jpg");
}

.sales__div.rezivot {
  background-image: url("../images/sortiment/rezivot.jpg");
}

.sales__div.lazury {
  background-image: url("../images/sortiment/lazury.jpg");
}

.sales__div.doors {
  background-image: url("../images/sortiment/doors.jpg");
}

.sales__div.hranol {
  background-image: url("../images/sortiment/hranol.jpg");
}

.sales__div.durelis {
  background-image: url("../images/sortiment/durelis.jpg");
}

.sales__div.sololit {
  background-image: url("../images/sortiment/sololit.jpg");
}

.sales__text {
  font-size: 25px;
  padding: 0;
  text-shadow: white 5px 0 10px;
}
@media screen and (min-width: 850px) {
  .sales__text {
    font-size: 28px;
  }
}

.contact__email {
  color: #8b6914;
  text-decoration: none;
}

.contact__email:hover,
.contact__email:focus,
.contact__email:active {
  color: #cdaa7d;
  text-decoration: underline;
}

.contact__times {
  background-color: #fff8dc;
  width: 330px;
  padding: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 540px) {
  .contact__times {
    margin: 0;
  }
}

.contact__times p {
  margin: 0;
}

.contact__times td {
  padding-left: 20px;
}

@media screen and (min-width: 960px) {
  .contact__form-flex {
    display: flex;
    gap: 50px;
  }
}

@media screen and (min-width: 960px) {
  .contact__form-flex-item {
    flex-grow: 1;
  }
}

.contact__form {
  background-color: #fff8dc;
  padding: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 540px) {
  .contact__form {
    margin-top: 80px;
    padding: 60px;
  }
}
@media screen and (min-width: 960px) {
  .contact__form {
    width: 100%;
  }
}

.contact__headline2 {
  margin: 0;
}

.contact__form-label {
  display: block;
  margin-top: 15px;
}

.contact__form-input,
.contact__form-textarea {
  width: 100%;
  padding: 5px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  outline: none;
}

.contact__form-input:focus,
.contact__form-textarea:focus {
  border: 2px solid #8b6914;
}

.contact__form-button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  border: none;
  background-color: #deb887;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .contact__form-button {
    width: 200px;
    margin: 15px auto 0 auto;
    display: block;
  }
}

.contact__form-button:active,
.contact__form-button:hover,
.contact__form-button:focus {
  background-color: #8b6914;
  color: #fafafa;
}

.contact__form-label-required:after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.contact__map {
  height: 350px;
  width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 960px) {
  .contact__map {
    height: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 960px) {
  .contact__flexbox {
    display: flex;
    margin-top: 30px;
  }
}

@media screen and (min-width: 960px) {
  .contact__flexbox-item1 {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 960px) {
  .contact__flexbox-item2 {
    flex-basis: 60%;
  }
}

.contact__icon {
  width: 30px;
}

.contact__icon.mail {
  margin-right: 5px;
  width: 25px;
}

.contact__icon.hours {
  margin-right: 5px;
  width: 23px;
}

.contact__flex {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contact p {
  margin: 0;
}

.contact__item {
  margin-bottom: 30px;
}

.footer {
  background-color: #cdaa7d;
  margin: 0;
  text-align: center;
  line-height: 1.3;
}
@media screen and (min-width: 540px) {
  .footer {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr auto;
  }
}
@media screen and (min-width: 596px) {
  .footer {
    grid-template-columns: 1fr 2fr;
  }
}

.footer__headline3 {
  margin-top: 18px;
  line-height: 1;
  font-size: 30px;
}

.footer__contact {
  padding: 30px;
}

.footer__map {
  width: 100%;
  height: 300px;
  margin: 0;
}
@media screen and (min-width: 540px) {
  .footer__map {
    height: 100%;
  }
}

.footer__email {
  color: #fff8dc;
  text-decoration: none;
}

.footer__email:active,
.footer__email:focus,
.footer__email:hover {
  color: #8b6914;
  text-decoration: underline;
}

.footer__copyright {
  padding: 15px;
  margin: 0;
  background-color: #fff8dc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 540px) {
  .footer__copyright {
    grid-column: 1/-1;
  }
}

.footer__copyright p {
  margin: 0;
}

.footer__table {
  text-align: left;
  max-width: auto;
  margin: 0 auto;
}

.footer__table td {
  padding-left: 20px;
}

.footer__table-headline {
  margin-bottom: 0;
}

.footer__icon {
  width: 30px;
}

.footer__icon.mail {
  margin-right: 5px;
  width: 25px;
}

.footer__icon.hours {
  margin-right: 5px;
  width: 23px;
}

.footer__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer__item {
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */