@use "colors";
@use "base";

//Sekce about
.about {
  text-align: justify;
}

//Image
.about__image {
  border-radius: 0 30px 30px 30px;
  margin: base.$spacer 0;
}

//Icons
.about__icon {
  width: 50px;
}

//Flexbox icons
.about__flexbox-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: 540px) {
    flex-direction: column;
    justify-content: center;
  }
}

.about__icon-text {
  margin-left: 15px;
  font-weight: bold;
  text-align: center;

  @media screen and (min-width: 540px) {
    margin-left: 0;
  }
}

//Main flexbox icons
.about__flexbox-main-icon {
  @media screen and (min-width: 540px) {
    display: flex;
    //justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
  }

  @media screen and (min-width: 960px) {
    justify-content: center;
    gap: 100px;
  }
}

//About grid
.about__grid {
  @media screen and (min-width: 540px) {
    width: 100%;
    //margin: 0 auto;
  }

  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    align-items: center;
  }
}
