$color-white: #fafafa;
$color-black: #080808;

$color-wood-light: #fff8dc;
$color-wood-light2: #8b6914;
$color-wood-light3: #cdaa7d;
$color-wood-light4: #deb887;

//https://www.color-hex.com/color-palette/20459
