@use "colors";
@use "base";

//Sekce kontakt

//Odkaz e-mail
.contact__email {
  color: colors.$color-wood-light2;
  text-decoration: none;
}

.contact__email:hover,
.contact__email:focus,
.contact__email:active {
  color: colors.$color-wood-light3;
  text-decoration: underline;
}

//Provozní doba
.contact__times {
  background-color: colors.$color-wood-light;
  max-width: 270px;
  padding: 20px;
  margin: 0 auto;

  @media screen and (min-width: 540px) {
    margin: 0;
  }
}

.contact__times p {
  margin: 0;
}

.contact__times td {
  padding-left: 20px;
}

//Formulář
.contact__form-flex {
  @media screen and (min-width: 960px) {
    display: flex;
    gap: 50px;
  }
}

.contact__form-flex-item {
  @media screen and (min-width: 960px) {
    flex-grow: 1;
  }
}

.contact__form {
  background-color: colors.$color-wood-light;
  padding: 20px;
  margin-top: base.$spacer;

  @media screen and (min-width: 540px) {
    margin-top: 80px;
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    width: 100%;
    //padding: 80px;
  }
}

.contact__headline2 {
  margin: 0;
}

//Labels
.contact__form-label {
  display: block;
  margin-top: 15px;
}

//Inputs
.contact__form-input,
.contact__form-textarea {
  width: 100%;
  padding: 5px;
  font-family: base.$default-font;
  font-size: base.$body-text;
  outline: none;
}

.contact__form-input:focus,
.contact__form-textarea:focus {
  border: 2px solid colors.$color-wood-light2;
}

//Button
.contact__form-button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-family: base.$default-font;
  font-size: base.$body-text;
  border: none;
  background-color: colors.$color-wood-light4;
  font-weight: bold;

  @media screen and (min-width: 540px) {
    width: 200px;
    margin: 15px auto 0 auto;
    display: block;
  }
}

.contact__form-button:active,
.contact__form-button:hover,
.contact__form-button:focus {
  background-color: colors.$color-wood-light2;
  color: colors.$color-white;
}

//Formulář červená hvězdička
.contact__form-label-required:after {
  content: "*";
  color: red;
  margin-left: 4px;
}

//Mapa kontakt
.contact__map {
  height: 350px;
  width: 100%;
  margin-top: base.$spacer;

  @media screen and (min-width: 540px) {
    height: 100%;
    margin-top: 0;
  }
}

//Flexbox kontakt
.contact__flexbox {
  @media screen and (min-width: 540px) {
    display: flex;
    margin-top: base.$spacer;
  }
}

.contact__flexbox-item1,
.contact__flexbox-item2 {
  @media screen and (min-width: 540px) {
    flex-basis: 50%;
  }
}

.contact__flexbox-item1 {
  @media screen and (min-width: 960px) {
    flex-basis: 40%;
  }
}

.contact__flexbox-item2 {
  @media screen and (min-width: 960px) {
    flex-basis: 60%;
  }
}
