@use "colors";
@use "base";

//Hero and headline service
.hero {
  background-image: url("../images/wood2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;

  @media screen and (min-width: 540px) {
    height: 200px;
  }

  @media screen and (min-width: 960px) {
    height: 250px;
  }
}

.hero__headline1 {
  font-size: 50px;
  color: colors.$color-black;
  margin: 0;
  text-transform: lowercase;
  text-align: left;
  padding-top: 91px;
  padding-left: 30px;

  @media screen and (min-width: 540px) {
    font-size: 80px;
    padding-top: 105px;
  }

  @media screen and (min-width: 960px) {
    font-size: 120px;
    padding-top: 107px;
  }
}

//Section services, sales
.sales__grid,
.services__grid {
  display: grid;
  grid-template-rows: 3fr;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;

  @media screen and (min-width: 850px) {
    max-width: 80%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px) {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sales__div,
.services__div {
  border: 3px solid colors.$color-wood-light2;
  cursor: pointer;
}

.active,
.sales__div:active,
.sales__div:hover,
.sales__div:focus,
.services__div:active,
.services__div:hover,
.services__div:focus {
  background-color: colors.$color-wood-light2;
  color: colors.$color-white;
}

.sales__text,
.services__text {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.services__more {
  display: none;
}

.services__icon {
  width: 50px;
}
