@use "colors";
@use "base";

//Hero and headline service on main webpage
.hero {
  background-image: url("../images/wood2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;

  @media screen and (min-width: 540px) {
    height: 150px;
  }

  @media screen and (min-width: 960px) {
    height: 200px;
  }
}

.hero__headline {
  font-size: 40px;
  color: colors.$color-black;
  margin: 0;
  text-transform: lowercase;
  text-align: left;
  padding-top: 53px;
  padding-left: 30px;
  font-weight: bold;

  @media screen and (min-width: 540px) {
    font-size: 60px;
    padding-top: 78px;
  }

  @media screen and (min-width: 960px) {
    font-size: 80px;
    padding-top: 104px;
  }
}

//Services grid
.services__grid-icon {
  @media screen and (min-width: 540px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: start;
  }

  @media screen and (min-width: 960px) {
    gap: 75px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
}

.services__grid-icon {
  margin-top: 30px;

  @media screen and (min-width: 540px) {
    margin-top: 50px;
  }
}

//Section services, sales
.sales__grid,
.services__grid {
  display: grid;
  grid-template-rows: 3fr;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;

  @media screen and (min-width: 850px) {
    max-width: 80%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px) {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sales__div,
.services__div {
  border: 3px solid colors.$color-wood-light2;
  cursor: pointer;
}

.active,
.services__div:active,
.services__div:hover,
.services__div:focus {
  background-color: colors.$color-wood-light2;
  color: colors.$color-white;
}

.sales__text,
.services__text {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.sales__text {
  background: rgba(250, 250, 250, 0.6);
  padding: 5px 0;
}

.services__more {
  display: none;
}

.services__icon {
  width: 50px;
}

//Website services
.services2__headline1 {
  padding-top: 150px;
  background-image: url("/images/sortiment-background.jpg");
  font-size: 40px;
  color: colors.$color-black;
  text-align: center;
  margin: 0;

  @media screen and (min-width: 540px) {
    font-size: 50px;
  }

  @media screen and (min-width: 960px) {
    font-size: 60px;
  }
}

.services__more-grid {
  margin-top: 100px;
}

.services__headline3 {
  color: colors.$color-wood-light2;
  margin-bottom: 0;
}
