@use "colors";
@use "base";

.sortiment__headline2 {
  text-align: left;
}

.sortiment__headline3 {
  color: colors.$color-wood-light2;
  margin-top: 50px;
  font-size: 30px;
}

.sortiment {
  padding: 150px 30px 100px 30px;

  @media screen and (min-width: 960px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.sortiment__contain-grid {
  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}

.sortiment__img {
  align-self: center;
}

.sortiment__margin-top {
  margin-top: 60px;

  @media screen and (min-width: 700px) {
    margin-top: 134px;
  }
}

.sortiment__products-grid {
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}

.sortiment__link {
  color: colors.$color-wood-light2;
  font-weight: bold;
}

.sortiment__link:active,
.sortiment__link:focus,
.sortiment__link:hover {
  text-decoration: underline;
}

//Tabulka
.sortiment__table td {
  width: 10%;
  text-align: center;
  font-weight: bold;
}

.sortiment__table,
.sortiment__table th,
.sortiment__table td {
  border: 2px solid white;
  border-collapse: collapse;
}
.sortiment__table th,
.sortiment__table td {
  background-color: colors.$color-wood-light4;
}

//Seznam
.sortiment ul {
  padding: 0;
  max-width: 500px;
  margin: 0;

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

.sortiment li {
  text-align: left;
}

//Interiérové dveře akční katalog
.sortiment__doors--download {
  width: 100%;
  background-color: colors.$color-wood-light2;
  cursor: pointer;
  color: colors.$color-white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;

  @media screen and (min-width: 640px) {
    width: 70%;
    margin: 70px auto 0 auto;
  }
}

.sortiment__doors--download:hover,
.sortiment__doors--download:focus,
.sortiment__doors--download:active {
  filter: brightness(115%);
}

//Obrázky na pozadí buttonů na podstránce dřevoprodej
.sales__div.kvh,
.sales__div.bsh,
.sales__div.preklizka,
.sales__div.palubka,
.sales__div.terasa,
.sales__div.osb,
.sales__div.stavebnir,
.sales__div.prkna,
.sales__div.rezivot,
.sales__div.lazury,
.sales__div.doors,
.sales__div.hranol,
.sales__div.durelis,
.sales__div.sololit {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-100%);
    transform: scale(1.1);
  }
}

.sales__link {
  overflow: hidden;
}

.sales__div.kvh {
  background-image: url("../images/sortiment/kvh.jpg");
}

.sales__div.bsh {
  background-image: url("../images/sortiment/bsh.jpg");
}

.sales__div.preklizka {
  background-image: url("../images/sortiment/preklizka.jpg");
}

.sales__div.palubka {
  background-image: url("../images/sortiment/palubka.jpg");
}

.sales__div.terasa {
  background-image: url("../images/sortiment/terasa.jpg");
}

.sales__div.osb {
  background-image: url("../images/sortiment/osb.jpg");
}

.sales__div.stavebnir {
  background-image: url("../images/sortiment/stavebni-rezivo.jpg");
}

.sales__div.prkna {
  background-image: url("../images/sortiment/prkna.jpg");
}

.sales__div.rezivot {
  background-image: url("../images/sortiment/rezivot.jpg");
}

.sales__div.lazury {
  background-image: url("../images/sortiment/lazury.jpg");
}

.sales__div.doors {
  background-image: url("../images/sortiment/doors.jpg");
}

.sales__div.hranol {
  background-image: url("../images/sortiment/hranol.jpg");
}

.sales__div.durelis {
  background-image: url("../images/sortiment/durelis.jpg");
}

.sales__div.sololit {
  background-image: url("../images/sortiment/sololit.jpg");
}

.sales__text {
  font-size: 25px;
  padding: 0;
  text-shadow: white 5px 0 10px;

  @media screen and (min-width: 850px) {
    font-size: 28px;
  }
}
