<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="Nabízíme překližky, palubky, podlahy, terasy, OSB desky aj. Doplňkové služby doprava, krácení, hoblování a formátování."
    />
    <meta name="robots" content="index, follow" />
    <title>{{ title }}</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="canonical" href="https://www.drevoprodejvalenta.cz{{ link }}" />
    <link
      rel="alternate"
      hreflang="cs-cs"
      href="https://www.drevoprodejvalenta.cz{{ link }}"
    />

    <script
      type="text/javascript"
      src="https://www.cookie-lista.cz/BeeCookie/jquery-3.3.1.min.js"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="header__contact">
        <div class="header__flex">
          <img
            class="header__icon"
            src="/images/icons/phone.png"
            alt="Ikona telefon"
          />
          <p class="header__contact--phone">+420 602 551 499</p>
        </div>

        <div class="header__flex">
          <img
            class="header__icon"
            src="/images/icons/mail.png"
            alt="Ikona e-mail"
          />
          <a
            class="header__contact--email"
            href="mailto:info@drevoprodejvalenta.cz"
            >info@drevoprodejvalenta.cz</a
          >
        </div>
      </div>

      <nav class="menu">
        <div>
          <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
          <label for="menu-checkbox" class="menu__toggler">☰</label>
          <ul class="menu__list">
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === '' }}"
                href="/"
                >O nás</a
              >
            </li>

            <li class="menu__item menu__item--hover">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'drevoprodej' }}"
                href="/drevoprodej/"
                >Dřevoprodej</a
              >
            </li>

            <!--
          <li class="menu__item">
            <a
              class="menu__link {{ 'menu__link--active' if page.fileSlug === 'drevovyroba' }}"
              href="/drevovyroba/"
              >Dřevovýroba</a
            >
          </li> -->

            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'sluzby' }}"
                href="/sluzby/"
                >Služby</a
              >
            </li>

            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'kontakt' }}"
                href="/kontakt/"
                >Kontakt</a
              >
            </li>
          </ul>
        </div>
        <div>
          <a href="/" class="menu__logo-link">
            <img class="menu__logo" src="/images/logo.png" alt="" />
          </a>
        </div>
      </nav>
      <ul class="menu__dropdown">
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/kvh-hranoly"
            >KVH hranoly</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/bsh-hranoly"
            >BSH hranoly</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/preklizky">překližky</a>
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/palubky-podlahy"
            >palubky, podlahy</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/terasy-fasady"
            >terasy, fasády</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/osb-desky">OSB desky</a>
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/durelis-desky"
            >durelis desky</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/sololit">sololit</a>
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/stavebni-rezivo"
            >stavební řezivo</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/lazury-adler">lazury</a>
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/truhlarske-rezivo"
            >truhlářské řezivo</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/hoblovana-prkna"
            >hoblovaná prkna</a
          >
        </li>

        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/eurohranoly"
            >eurohranoly</a
          >
        </li>
        <li class="drop-menu-item">
          <a class="drop-menu-link" href="/drevoprodej/interierove-dvere"
            >interiérové dveře</a
          >
        </li>
      </ul>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="footer">
      <div class="footer__contact">
        <h3 class="footer__headline3">
          Dřevoprodej <br />
          Valenta
        </h3>
        <div class="footer__item">
          <div class="footer__flex">
            <img
              class="footer__icon"
              src="/images/icons/location.png"
              alt="Ikona sídlo firmy"
            />
            <p><b> sídlo firmy:</b></p>
          </div>
          <p>
            Prušánky č.p. 188<br />
            696 21 Prušánky
          </p>
        </div>

        <div class="footer__item">
          <div class="footer__flex">
            <img
              class="footer__icon"
              src="/images/icons/phone.png"
              alt="Ikona telefon"
            />
            <p><b> telefon:</b></p>
          </div>
          <p>+420 602 551 499</p>
        </div>

        <div class="footer__item">
          <div class="footer__flex">
            <img
              class="footer__icon mail"
              src="/images/icons/mail.png"
              alt="Ikona e-mail"
            />
            <p><b> e-mail:</b></p>
          </div>
          <p>
            <a class="footer__email" href="mailto:info@drevoprodejvalenta.cz"
              >info@drevoprodejvalenta.cz</a
            >
          </p>
        </div>

        <div class="footer__item">
          <div class="footer__flex">
            <img
              class="footer__icon hours"
              src="/images/icons/hours.png"
              alt="Ikona provozní doba"
            />
            <p class="footer__table-headline"><b> provozní doba:</b></p>
          </div>

          <table class="footer__table">
            <tr>
              <td>po - čt</td>
              <td>7:30 - 16:00</td>
            </tr>
            <tr>
              <td>pá</td>
              <td>7:30 - 15:00</td>
            </tr>
            <tr>
              <td>so</td>
              <td>dohodou</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="footer__map">
        <iframe
          class="footer__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88402.45990008897!2d16.925017603626117!3d48.82657719673358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47132a3b556a0f3d%3A0x58586ea763ecfb80!2zVHJ1aGzDocWZc3R2w60gLSBExZlldm9wcm9kZWo!5e0!3m2!1scs!2sca!4v1636307522813!5m2!1scs!2sca"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="footer__copyright">
        <a href="https://www.facebook.com/Drevoprodej"
          ><img
            class="footer__icon"
            src="/images/icons/facebook.png"
            alt="Ikona Facebook"
        /></a>

        <p>©2022 | Dřevoprodej Valenta</p>
      </div>
    </footer>
    <!-- COOKIE LIŠTA START -->
    <script
      type="text/javascript"
      src="https://www.cookie-lista.cz/BeeCookie/BeeCookie.js"
    ></script>
    <script type="text/javascript">
      $(function () {
        var options = {
          theme: "white",
          position: "bottom",
          distance: 20,
          borderRadius: 4,
          background: "#ffffff",
          backgroundOpacity: "0.9",
          fontSize: 14,
          text: "Tyto webové stránky používají k poskytování svých služeb soubory Cookies. Používáním těchto webových stránek souhlasíte s použitím souborů Cookies.",
          html: false,
          textColor: "#333333",
          showButton: true,
          buttonText: "SOUHLASÍM!",
          buttonColor: "#ffffff",
          buttonBgColor: "#8b6914",
          moreButtonText: "Více informací o Cookies",
          moreButtonColor: "#8b6914",
          moreButtonLink: "https://www.cookie-lista.cz/co-je-cookies.html",
          showCloseButton: false,
          cookieDays: 365,
        };
        $("body").BeeCookie(options);
      });
    </script>
    <script src="https://unpkg.com/@botpoison/browser" async></script>

    <!-- COOKIE LIŠTA KONEC -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
